out
.idea
*.iml
.idea/inspectionProfiles/
.idea/sonarlint/issuestore/1/
.idea/sonarlint/issuestore/3/
.idea/sonarlint/issuestore/4/
.idea/sonarlint/issuestore/5/
.idea/sonarlint/issuestore/6/
.idea/sonarlint/issuestore/8/
.idea/sonarlint/issuestore/c/
